/* Forms */

.input-group-append,
.input-group-prepend {
    background: $input-bg;
    color: $input-placeholder-color;
    width: auto;
    border: none;

    .input-group-text {
        background: transparent;
        border-color: $border-color;
    }
}

.form-control {
    display: inline-block;
    border: 1px solid $border-color;
    font-family: $type-1;
    font-size: $input-font-size;
    color: $body-color;
    padding: 0 .75rem;
    line-height: 14px;
    font-weight: 300;

    &.form-control-lg {
        padding: $input-btn-padding-y-lg .75rem;
    }

    &.form-control-sm {
        padding: $input-btn-padding-y-sm .75rem;
    }
}

textarea.form-control {
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

select {
    &.form-control {
        padding: 0.4375rem 0.75rem;
    }
}

.form-group {
    label {
        font-size: $default-font-size;
        line-height: 1;
        vertical-align: top;
    }

    &.has-danger {
        .form-control {
            border-color: theme-color(danger);
        }
    }

    .file-upload-default {
        visibility: hidden;
        position: absolute;
    }

    .file-upload-info {
        background: transparent;
    }
}
